@model Telia.NTW.Web.ViewModel.Webbstyrning.Webbstyrning.KöEditViewModel

@{
    ViewBag.Title = "Redigera schemalagd styrningsändring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tsCrumbtrail tsCrumbtrail--middle tsWrapInner">
    <ul class="tsCrumbtrail-links" role="navigation">
        <li>@Html.ActionLink("Webbstyrning", "Index")<i class="tsIcon-Breadcrumb"></i></li>
        <li>@Html.ActionLink(@Model.Abonnemang, "Abonnemang", new { serviceId = @Model.ServiceId, customerId = @Model.CustomerId, abonnemang = @Model.Abonnemang })<i class="tsIcon-Breadcrumb"></i></li>
        <li>Redigera schemalagd styrningsändring</li>
    </ul>
</div>

<div class="tsBodyText tsWrapInner tsMarginTop">
    <h1>Redigera schemalagd styrningsändring</h1>
</div>

<div class="tsWrapInner tsMarginBottom">
    @using (Html.BeginForm())
    {
        <div class="tsMarginTop">
            @Html.Partial("_Kö_EditForm", Model)

            <div class="tsMarginTop">
	            @Html.ActionLink("Avbryt", "Abonnemang", new { serviceId = @Model.ServiceId, customerId = @Model.CustomerId, abonnemang = @Model.Abonnemang }, new { @class = "tsBtn--Regular" })
	            <input type="submit" class="tsBtn--Regular tsMarginLeft" value="Spara" />
            </div>

        </div>
    }
</div>

